global !p
def wraps(char):
	a = vim.current.window.buffer
	b = vim.current.window.cursor[0]
	c = vim.current.window.cursor[1]
	try:
		return a[b-1][c-1] + a[b-1][c] != char 
	except:
		return True 
endglobal

context "wraps('()')"
snippet ( "parenthesis" iA
(${1:${VISUAL}})$0
endsnippet

snippet { "Braces" iA
{
	${1:${VISUAL}}
}
endsnippet

context "wraps('[]')"
snippet [ "Brackets" iA
[${1:${VISUAL}}]$0
endsnippet

context "wraps('""')"
snippet " "Quotes" iA
"${1:${VISUAL}}"$0
endsnippet
