extends delimiters.snippets

snippet """ "Function definition" b
"""
$1

Keyword Arugments
-----------------

$2 -- $3
$0
"""
endsnippet

snippet if "If statement"
if ($1):
	$2
${0:else:}
endsnippet

snippet elif "Else if"
elif ($1):
	$2
${0:else:}
endsnippet

snippet mff "Django float field"
models.FloatField(default=$1)$0
endsnippet
